.row
  .col-xs-12.col-md-3
    = render 'side_nav'

  .col-xs-12.col-md-9
    #page-content
      %h1 Welcome to Creekstone Cookers Dashboard

:coffee
  $ ->
    $('.pages-sortable, .page-children').sortable({
      axis: 'y'
      handle: '.handle'
      update: ->
        pages = []
        $('.pages-sortable .page-title, .page-children .page-title').each ->
          pages.push($(this).data('page-id'))
        $.post($('.pages-sortable').data('update-url'),  { 'page[position]': pages } )
    });