.image-container {
  margin-top: 20px;

  img {
    margin: 0 auto;
  }
}

[class^='four_oven'], [class^='city60'] {
  margin-bottom: 35px;

  h2 {
    margin-top: 0;
  }
}

.color-chip {
  border: 1px solid #f0f0f0;
  float: left;
  height: 35px;
  margin-right: 4px;
  width: 35px;

  &.four-oven-black, &.tc-3-black, &.tc-5-black, &.companion-black, &.dc3-black, &.dc5-black {
    background: #000;
  }

  &.four-oven-heather, &.tc-3-heather, &.tc-5-heather, &.companion-heather, &.dc3-heather, &.dc5-heather {
    background: #9886A0;
  }

  &.four-oven-pistachio, &.tc-3-pistachio, &.tc-5-pistachio, &.companion-pistachio, &.dc3-pistachio, &.dc5-pistachio {
    background: #99CEC4;
  }

  &.four-oven-aubergine, &.tc-3-aubergine, &.tc-5-aubergine, &.companion-aubergine, &.dc3-aubergine, &.dc5-aubergine {
    background: #612561;
  }

  &.four-oven-green, &.tc-3-green, &.tc-5-green, &.companion-green, &.dc3-green, &.dc5-green {
    background: #376630;
  }

  &.four-oven-cream, &.tc-3-cream, &.tc-5-cream, &.companion-cream, &.dc3-cream, &.dc5-cream {
    background: #FFF6D5;
  }

  &.four-oven-darkblue, &.tc-3-darkblue, &.tc-5-darkblue, &.companion-darkblue, &.dc3-darkblue, &.dc5-darkblue {
    background: #2E3375;
  }

  &.four-oven-pewter, &.tc-3-pewter, &.tc-5-pewter, &.companion-pewter, &.dc3-pewter, &.dc5-pewter {
    background: #50505A;
  }

  &.four-oven-white, &.tc-3-white, &.tc-5-white, &.companion-white, &.dc3-white, &.dc5-white {
    background: #F8F8F8;
  }

  &.four-oven-claret, &.tc-3-claret, &.tc-5-claret, &.companion-claret, &.dc3-claret, &.dc5-claret {
    background: #AE1E27;
  }

  &.four-oven-ashes, &.tc-3-ashes, &.tc-5-ashes, &.companion-ashes, &.dc3-ashes, &.dc5-ashes {
    background: #E0DEE3;
  }

  &.four-oven-duckegg, &.tc-3-duckegg, &.tc-5-duckegg, &.companion-duckegg, &.dc3-duckegg, &.dc5-duckegg {
    background: #B9CEE1;
  }

  &.city60-rose{
    background: #E6CAD9;
  }
  &.city60-lemon{
    background: #F7EDB2;
  }
  &.city60-black{
    background: #000;
  }
  &.city60-cream{
    background: #FFF6D5;
  }
  &.city60-pewter{
    background: #50505A;
  }
  &.city60-darkblue{
    background: #2E3375;
  }
  &.city60-green{
    background: #376630;
  }
  &.city60-pistachio{
    background: #99CEC4;
  }
  &.city60-aqua, &.dc3-aqua, &.dc5-aqua{
    background: #B1CBBE;
  }
  &.city60-heather{
    background: #9886A0;
  }
  &.city60-aubergine{
    background: #612561;
  }
  &.city60-pearl{
    background: #E0DEE3;
  }
  &.city60-white{
    background: #F8F8F8;
  }
  &.city60-duckegg{
    background: #B9CEE1;
  }

  &.active {
    border: 3px solid #bbb;
  }

}

.electric {
  margin-left: 20px;

  &:before {
    background: image-url('electric.png') top left no-repeat;
    background-size: 100%;
    content: '';
    display: inline-block;
    height: 18px;
    vertical-align: text-bottom;
    width: 18px;
  }
}

.gas {
  &:before {
    background: image-url('gas.png') top left no-repeat;
    background-size: 100%;
    content: '';
    display: inline-block;
    height: 18px;
    vertical-align: text-bottom;
    width: 18px;
  }
}