%p Every AGA Cooker is made in exactly the same way it has always been: molten iron is poured into molds to create cast-iron. It's this iron that brings the AGA cooker's distinctive cooking performance and while most other cookers are spray painted in minutes, skilled AGA craftsman add multiple coats of vitreous enamel - a process that takes three days to complete.

%p Slow cooking is rooted into the AGA philosophy; it allows your food to gently cook without the risk of burning. So you can throw a dish together first thing in the morning, ignore it for hours on end and pull out a delicious meal by teatime. If you're in a rush, the high heat of the roasting oven is ideal for a pizza, or a grilled steak can be prepared using the boiling plate - even ready-meals can be cooked easily in an AGA Cooker.

%p
  %strong Roasting oven -
  roasts and grills beautifully and is big enough to fit a 13kg 28lb turkey. Radiant heat means food keeps its natural succulence and flavor.

%p
  %strong Baking oven -
  heated to an ideal moderate baking temperature - ideal for cakes, biscuits and bread.

%p
  %strong Slow Cook oven -
  Simmers perfectly by constantly maintaining the oven at just the right temperature for long, slow cooking. This develops flavours and will make even the toughest cut of meat melt-in-the-mouth tender.

%p
  %strong Warming oven -
  creates just the right temperature for safely warming plates and serving dishes and for keeping cooked food hot until ready to serve.

%p
  %strong What to expect
  %br
  From a toasted sandwich to a perfectly risen soufflé, an AGA Cooker excels at every style of cooking. AGA cakes are fluffier, stir-frys wonderfully fast, roasts more succulent and pizzas perfectly crisp. There's nothing an AGA oven cannot do - and everything it does, it does better.

%p
  %strong AGA ovens are easier to maintain
  %br
  Choose an AGA Cooker and you'll notice that the time you spend cleaning is greatly reduced. That's because the ovens and hotplates of an AGA Cooker are virtually self-cleaning. It's simply because they're always on - any spillages are carbonized, so all you have to do is give it the occasional brush out.

%p
  %strong No lingering food smells
  %br
  As you cook in your AGA ovens, food aromas are drawn away and extracted via the flue. This means if you're cooking something pungent like fish, the AGA Cooker will help keep smells to a minimum.

%p Depending on the model, different flue options are available - speak to your local AGA dealer for details.

%p For more details on how the AGA Cooker works, please watch our video:

.embed-responsive.embed-responsive-16by9
  %iframe.embed-responsive-item{src: '//www.youtube.com/embed/vmwiBYsd6Ys', allowfullscreen: '', style: 'max-width: 100%'}