%h2 AGA Companion
%h4 Classic AGA Cooker

%p Don't let this little range fool you. At 24" inches wide, it may be small in stature, but it's big on performance and style. This dual-fuel range features four versatile gas burners, one conventional oven with an integral broiler and one convection oven. And of course, it's made with that classic AGA design available in 11 delicious colors.

%p As a free-standing range it brings the versatility of dual-fuel cooking into any kitchen. Team a 2 Oven, 3 Oven or 4 Oven AGA with an AGA Companion and you have the ultimate versatility of cooking with radiant heat, a live gas flame and electric and all at once!