%h2 4-Oven AGA Cooker (electric)
%h4 Electric fuelled cast-iron cooker

%p Iconic design and inimitable cooking performance aside, the beauty of this cooker is that it takes full advantage of off-peak electricity, storing it through the night in specially designed heat bricks located deep inside the cooker. The stored energy is then used to heat your AGA Cooker throughout the day.

%p Like all AGA cookers, the 4-oven Electric AGA Cooker is made of cast-iron. It's this iron that radiates the heat through its ovens and hotplates, allowing it to always be instantly available for use and preventing food from drying out, while retaining goodness and enhancing natural flavors. The ambient heat it provides keeps kitchens and even adjoining rooms deliciously warm.

%p As well as the roasting, slow cook and baking ovens found on the 3-oven AGA Cooker, the 4-oven AGA Cooker also has a warming oven. This additional feature is ideal for warming plates, resting food or cooking delicate dishes such as meringues. It makes delivering even the most complicated meal an absolute delight, keeping food warm and succulent while you serve your other courses.

%p Kitchen appliances such as toasters and electric kettles are superfluous when you have a 4-oven electric AGA Cooker, saving on space and energy costs.

%p The 4-oven electric AGA Cooker makes a stunning focal point for any kitchen and you'll soon see how people are irresistibly drawn to its gentle warmth. Choose the ideal AGA color to complement your kitchen design from the AGA palette. All badge options are available.