%h2 3-Oven AGA Cooker (gas)
%h4 Cast-iron range cooker

%p Just like every AGA before it, the 3 Oven AGA is designed to complement your way of life perfectly. Dependable radiant heat in each of its three cast iron ovens makes any kind of cooking even more of a pleasure. And because the 3 Oven AGA is designed to cope with even the busiest families, it's easy to find room for AGA in your kitchen and your life. If you ever want even greater flexibility, simply add the specially designed AGA Module to the side. Altogether, the choice of the 3 Oven AGA, with or without module, makes cooking the AGA way easier than ever.

%p The 3-oven AGA Cooker adds a baking oven to the roasting and slow cook ovens of the 2-oven AGA Cooker, offering added versatility to your cooking.

%p You'll find the baking oven on the bottom left of the 3-oven AGA Cooker, constantly at the ideal moderate heat required to bake to perfection. It makes preparing a hearty family meal an absolute joy; while dinner is gently cooking away in your slow cook or roasting oven, simply slide a delicious dessert into the baking oven. There's no preheat waiting times or fiddling with temperatures, which makes whipping up a rhubarb crumble or chocolate brownies so very easy.

%p This relaxed and easy approach to cooking comes as standard with every AGA Cooker. As do two hotplates, which are ready to sizzle a stir-fry or boil a kettle as you require. The top right-hand oven roasts and grills, leaving food deliciously succulent and flavorsome. At the bottom right is the slow cook oven, where stock and casseroles can be left to improve, even overnight.

%p Whether it's drying your clothes or making perfect toast, like all AGA cookers its gentle warmth and endless versatility reduce the need for many household appliances. In fact, there are plenty of ways that your AGA Cooker can help you reduce your energy consumption.

%p The 3-oven AGA Cooker is available with natural and propane gas and electric options. A selection of badges and a wide choice of colors are also available.