%h2 2-Oven AGA Cooker (gas)
%h4 Cast-iron range cooker

%p The 2-oven AGA Cooker has a boiling plate and simmering plate, plus a roasting oven and slow cook oven. These are kept constantly ready for use by the cooker's unique heat technology, made possible by its cast-iron body.

%p The cast-iron ovens of an AGA Cooker are gentle on food and lock in moisture, flavor, texture and, importantly, goodness, meaning dishes taste delicious every time. Catering for a crowd with an AGA Cooker is no problem either - both AGA ovens are big enough to fit a 28lb bird, making them perfect for cooking for large groups or small.

%p At just under 39" wide, the 2-oven AGA Cooker is a flexible addition to your kitchen. Whether it's the crowning glory of your kitchen design or nestled neatly between existing units, the 2-oven AGA Cooker is a remarkably good fit for both traditional and contemporary kitchens.

%p There's an exciting range of colors in the AGA palette, so you're sure to find the right shade for your kitchen. The 2-oven AGA Cooker comes with a range of fuel options - oil, natural or propane gas and electricity - and all flue and badge options are available.*