%h2 2-Oven AGA Cooker (electric)
%h4 Electric fuelled cast-iron cooker

%p First engineered more than 20 years ago, the 2-oven electric AGA Cooker is a great choice for those looking for real cost efficiency.

%p The beauty of the 2-oven electric AGA Cooker is that it takes full advantage of off-peak electricity, storing it through the night in specially designed heat bricks located deep inside the cooker. The stored energy is then used to heat the AGA Cooker throughout the day, reducing running costs.

%p You still get all the cooking versatility of a 2-oven AGA Cooker, two insulated hotplates, a slow cook oven and a roasting oven that cooks using indirect radiant heat - a gentler cooking process that brings out your food's natural goodness and flavor. Like all AGA cookers, the 2-oven electric AGA Cooker does the job of many household appliances such as a toaster and an electric kettle.

%p The 2-oven electric AGA Cooker is a beautiful addition to any kitchen. It fits easily into both contemporary and traditional kitchen designs and, like every AGA Cooker, it has been hand-enamelled to produce its stunning characteristic AGA finish.

%p There's an exciting range of colors in the AGA palette, so you're sure to find the perfect shade for your kitchen. The 2-oven electric AGA range is an electric-only cooker and both the contemporary and script badge options are available.