/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.navbar {
  background: none;
  border: none;
  margin: 0;
}

.navbar-toggle {
  margin-top: 30px;
}

.handle {
  color: #ccc;
  cursor: pointer;
  font-size: 12px;
  font-weight: 200;
  vertical-align: top;
}

.page-title {
  margin-bottom: 5px;
  position: relative;
  vertical-align: middle;
}

.header {
  .nav {
    li {
      position: relative;
    }
  }
}

.navbar-nav {
  li {
    &:hover {
      .submenu {
        display: block;
      }
    }
  }
}

.navbar-default {
  .navbar-nav > li > a {
    color: #777;

    &:hover {
      color: #777;
    }
  }
}
.caret {
  color: #777;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  position: absolute;
  top: 23px;
  right: 0px;
}

.submenu {
  background: #777;
  display: none;
  left: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 200px;
  z-index: 1000;

  li {
    background: #777;
    border-bottom: 1px solid #353535;
    padding: 8px 15px;
    width: 100%;

    a {
      color: #cececd;
      font-weight: normal;
    }

    &:last-child {
      border: none;
    }
  }
}

.home-banner {
  background: image-url('AGA_oven.jpg') top left no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 645px;
  position: relative;
  width: 100%;

  h1 {
    font-family: 'OpenSans';
    font-size: 55px;
    font-weight: 600;
    left: 50px;
    position: absolute;
    top: 135px;
  }

  h2 {
    font-family: 'OpenSans';
    font-size: 45px;
    font-weight: 600;
    left: 50px;
    position: absolute;
    top: 195px;
  }
}