.footer
  .container
    .copy.pull-left &copy; #{Time.now.year} Creekstone Cookers Inc.
    / %ul.nav.navbar-nav.navbar-right.hidden-xs.hidden-sm
    /   %li= link_to 'Home', root_url
    /   - root_navigation.each do |root|
    /     %li= link_to root.title, page_path(root)