- flash.each do |type, message|
  = full_title("Home")
  %div.alert.fade.in{ "data-alert" => "alert", class: "#{twitterized_type(type)}" }
    %button.close{ type: "button", "data-dismiss" => "alert", "aria-hidden" => "true"} &times;
    %p
      = message