- flash.each do |type, message|
  .container
    %div.alert.fade.in{ "data-alert" => "alert", class: "#{twitterized_type(type)}", style: 'margin: 0 0 20px' }
      %button.close{ type: "button", "data-dismiss" => "alert", "aria-hidden" => "true"} &times;
      %p
        = message