%ul.nav.nav-justified
  / %li= link_to 'Why AGA?', '#', class: 'navbar-link'
  / %li= link_to 'About Us', '#', class: 'navbar-link'
  / %li= link_to 'Models & Colors', '#', class: 'navbar-link'
  / %li= link_to 'Cooks\'s shop', '#', class: 'navbar-link'
  / %li= link_to 'Upcoming Events', '#', class: 'navbar-link'
  / %li= link_to 'Contact Us', '#', class: 'navbar-link'

  - root_navigation.each do |root|
    %li= link_to root.title, page_path(root)